.modalWrapperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s;
  overflow: scroll;
}

.modalWrap {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
  padding-bottom: 20px;
  height: max-content;
}

.modalCloseBtn {
  position: absolute;
  right: 17px;
  top: 12px;

  border: none;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
  border-radius: 50%;
}
