.modalWrapperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s;
  overflow: scroll;
}

.modalWrap {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
  padding-bottom: 20px;
  height: max-content;
}

.modalTitle {
  margin-bottom: 60px;
}

.formWrapper {
  background-color: white;
  padding: 15px;
}

.form {
  display: block;
  width: 580px;
  height: 420px;
}

.formLabel {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  color: #000000;
  position: relative;
}

.fieldRequired {
  color: red;
}

.formInput {
  width: 95%;
  height: 16px;
  padding: 11px 14px;
  border: 1px solid rgb(236, 226, 226);
  margin: 8px 0px 21px 0px;
}

.formSelect {
  border: 1px solid rgb(236, 226, 226);
  padding: 8px;
  font-size: 16px;
  width: 100%;
  margin: 8px 0px 21px 0px;
  font-size: 16px;
  color: black;
}

.formSelect option[disabled]:first-child {
  color: #999; /* Placeholder text color */
}

.formInput::placeholder {
  padding-left: 5px;
  font-size: 17px;
}

.buttonWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 82px;
  gap: 10px;
}
.btnCancel {
  width: 100px;
  padding: 8px;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: black;
  background: white;
  border: 1px solid grey;
  cursor: pointer;
  border: 1px solid rgb(236, 226, 226);
}

.btnAdd {
  width: 100px;
  padding: 8px;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: white;
  background: rgb(87, 87, 241);
  border: 1px solid grey;
  cursor: pointer;
}

.modalCloseBtn {
  position: absolute;
  right: 17px;
  top: 12px;

  border: none;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
  border-radius: 50%;
}
